{% extends 'layout.twig' %}
{% block content %}
<div class="container-fluid">
    <div class="p-3 fs-3 fw-bold">
        Statistik
    </div>
    <nav class="bg-white">
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home"
                type="button" role="tab" aria-controls="nav-home" aria-selected="true">Penilaian Layanan</button>
            <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile"
                type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Penilaian Pegawai</button>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <div class="table-responsive">
                <table class="table table-bordered small">
                    <thead class="table-primary">
                        <tr class="align-middle">
                            <th scope="col">Tgl.</th>
                            <th scope="col">Nama</th>
                            <th scope="col">Umur</th>
                            <th scope="col">Pendidikan</th>
                            <th scope="col">Pekerjaan</th>
                            <th scope="col">Layanan</th>
                            {% for i in range(1, 13) %}
                            <th scope="col" class="text-center">
                                Kuis {{ i }}
                            </th>
                            {% endfor %}
                            <th scope="col">Catatan</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for data in skms %}
                        <tr>
                            <td class="small">{{ data.created }}</td>
                            <td>{{ data.name }}</td>
                            <td>{{ data.age }}</td>
                            <td>{{ data.study }}</td>
                            <td>{{ data.job }}</td>
                            <td>{{ data.product }}</td>
                            {% for i in range(1, 13) %}
                            <td {% if i>= 9 %}class="bg-warning-subtle"{% endif %}>
                                {{ data['quest_' ~ i] }}
                            </td>
                            {% endfor %}
                            <td class="small">{{ data.suggest }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            <div class="table-responsive">
                <table class="table table-bordered small">
                    <thead class="table-primary">
                        <tr class="align-middle">
                            <th scope="col">Tgl.</th>
                            <th scope="col">Nama</th>
                            <th scope="col">Rate</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for data in pgws %}
                        <tr>
                            <td class="small">{{ data.rate_created }}</td>
                            <td>{{ data.rate_employee_id }}</td>
                            <td>{{ data.rate_value }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}