{% extends 'layout.twig' %}
{% block content %}
<div class="container-fluid bg-white">
    <div class="p-3 fs-3 fw-bold">
        Statistik
    </div>
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-layanan-tab" data-bs-toggle="tab" data-bs-target="#nav-layanan"
                type="button" role="tab" aria-controls="nav-layanan" aria-selected="true">Penilaian Layanan</button>
            <button class="nav-link" id="nav-zi-tab" data-bs-toggle="tab" data-bs-target="#nav-zi" type="button"
                role="tab" aria-controls="nav-zi" aria-selected="false">Survei Zona
                Integritas</button>
        </div>
    </nav>
    <div class="row g-2 px-3 mb-3">
        <form method="GET" action="" class="row g-2 align-items-end">
            <div class="col-md-3">
                <label for="month" class="form-label small fw-semibold">Bulan</label>
                <select class="form-select form-select-sm" id="month" name="month">
                    {% for i in 1..12 %}
                    <option value="{{ i }}" {{ i == (month ?? ('now'|date('n'))) ? 'selected' : '' }}>
                        {{ date('2025-' ~ i ~ '-01')|date('F') }}
                    </option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-3">
                <label for="year" class="form-label small fw-semibold">Tahun</label>
                <select class="form-select form-select-sm" id="year" name="year">
                    {% for year in range(2025, date()|date('Y')) %}
                    <option value="{{ year }}" {{ year == (year ?? ('now'|date('Y'))) ? 'selected' : '' }}>
                        {{ year }}
                    </option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-3">
                <button type="submit" class="btn btn-primary btn-sm">Filter</button>
                <a href="/statistik" class="btn btn-secondary btn-sm">Reset</a>
            </div>
        </form>
    </div>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-layanan" role="tabpanel" aria-labelledby="nav-layanan-tab">
            <div class="table-responsive">
                <table class="table table-bordered table-hover small">
                    <thead class="table-primary">
                        <tr class="align-middle">
                            <th scope="col">Tgl.</th>
                            <th scope="col">Nama</th>
                            <th scope="col">Kontak</th>
                            <th scope="col">Umur</th>
                            <th scope="col">Pendidikan</th>
                            <th scope="col">Pekerjaan</th>
                            <th scope="col">Layanan</th>
                            {% for i in range(1, 9) %}
                            <th scope="col" class="text-center">
                                Kuis {{ i }}
                            </th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for data in skms %}
                        <tr>
                            <td class="small">{{ data.created_at }}</td>
                            <td>{{ data.name }}</td>
                            <td>{{ data.phone }}</td>
                            <td>{{ data.age }}</td>
                            <td>{{ data.study }}</td>
                            <td>{{ data.job }}</td>
                            <td>{{ data.product }}</td>
                            {% for i in range(1, 9) %}
                            <td>
                                {{ data['quest_' ~ i] }}
                            </td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tab-pane fade" id="nav-zi" role="tabpanel" aria-labelledby="nav-zi-tab">
            <div class="table-responsive">
                <table class="table table-bordered table-hover small">
                    <thead class="table-primary">
                        <tr class="align-middle">
                            <th scope="col">Tgl.</th>
                            <th scope="col">Nama</th>
                            <th scope="col">Kontak</th>
                            <th scope="col">Umur</th>
                            <th scope="col">Pendidikan</th>
                            <th scope="col">Pekerjaan</th>
                            <th scope="col">Saran</th>
                            <th scope="col">Layanan</th>
                            <th scope="col">Kuis 1</th>
                            <th scope="col">Kuis 2</th>
                            <th scope="col">Kuis 3</th>
                            <th scope="col">Kuis 4</th>
                            <th scope="col">Kuis 5</th>
                            <th scope="col">Kuis 6</th>
                            <th scope="col">Kuis 7</th>
                            <th scope="col">Kuis 8</th>
                            <th scope="col">Kuis 9</th>
                            <th scope="col">Kuis 10</th>
                            <th scope="col">Kuis 11</th>
                            <th scope="col">Kuis 12</th>
                            <th scope="col">Kuis 13</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for data in zis %}
                        <tr>
                            <td class="small">{{ data.created_at }}</td>
                            <td>{{ data.name }}</td>
                            <td>{{ data.contact }}</td>
                            <td>{{ data.age }}</td>
                            <td>{{ data.study }}</td>
                            <td>{{ data.job }}</td>
                            <td>{{ data.suggest }}</td>
                            <td>{{ data.product }}</td>
                            {% for i in range(1, 14) %}
                            <td>
                                {{ data['quest_' ~ i] }}
                            </td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}